
.interfaceDemo {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.interfaceTitle {
    color: rgb(236, 91, 13);
}

.interfacenName {
    margin-top: 20px;
    color: rgb(236, 52, 15);
}

.interfacenContent {
    margin-top: 20px;
}